html > body > * * {
    -webkit-transform: none !important;
    -webkit-box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -webkit-transition-property: none !important;
    -webkit-transition: none !important;
    opacity: 1 !important;
}

p, h1, h2, h3, h4, h5, h6, li, ul, ol, code, pre {
    max-width: 400px;
}

html {
    min-width: 800px;
}
